In [1]:
# Importing dependencies
import pandas as pd

In [2]:
# Getting csv paths
data_01_2020 = "Data/JC-202001-citibike-tripdata.csv"
data_02_2020 = "Data/JC-202002-citibike-tripdata.csv"
data_03_2020 = "Data/JC-202003-citibike-tripdata.csv"
data_04_2020 = "Data/JC-202004-citibike-tripdata.csv"
data_05_2020 = "Data/JC-202005-citibike-tripdata.csv"
data_06_2020 = "Data/JC-202006-citibike-tripdata.csv"
data_07_2020 = "Data/JC-202007-citibike-tripdata.csv"
data_08_2020 = "Data/JC-202008-citibike-tripdata.csv"
data_09_2020 = "Data/JC-202009-citibike-tripdata.csv"
data_10_2020 = "Data/JC-202010-citibike-tripdata.csv"
data_11_2020 = "Data/JC-202011-citibike-tripdata.csv"
data_12_2020 = "Data/JC-202012-citibike-tripdata.csv"

In [3]:
# Creating a file list
file_list = [data_01_2020, data_02_2020, data_03_2020, data_04_2020, data_05_2020, data_06_2020, 
             data_07_2020, data_08_2020, data_09_2020, data_10_2020, data_11_2020, data_12_2020]

# Creating empty list to append dfs
data_list = []

# Looping through files to append data into new list
for file in file_list:
    data_list.append(pd.read_csv(file))

# Combining dfs into a single one
data_2020 = pd.concat(data_list, sort = False)

# Previewing final df
data_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [4]:
# Looking for possible outliers
data_2020.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,3.368020e+05,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000
mean,1.574705e+03,3304.137674,40.722216,-74.046752,3302.784636,40.721736,-74.045932,40637.772976,1981.299158,1.096796
std,1.802477e+04,184.598023,0.007351,0.011905,190.109433,0.099504,0.180828,6069.500533,11.046780,0.630384
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1888.000000,0.000000
25%,3.260000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42141.000000,1969.000000,1.000000
50%,6.150000e+02,3209.000000,40.721124,-74.043991,3209.000000,40.721124,-74.043845,42373.000000,1984.000000,1.000000
75%,1.416000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,43543.000000,1990.000000,2.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4071.000000,40.848282,0.000000,49734.000000,2004.000000,2.000000

In [5]:
# Discarding riders born before 1920
final_df = data_2020.loc[data_2020["birth year"] > 1920, :]

final_df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,3.367810e+05,336781.000000,336781.000000,336781.000000,336781.000000,336781.000000,336781.000000,336781.000000,336781.000000,336781.000000
mean,1.574787e+03,3304.141659,40.722216,-74.046752,3302.785721,40.721736,-74.045932,40638.324050,1981.304809,1.096855
std,1.802533e+04,184.601482,0.007351,0.011905,190.111644,0.099507,0.180834,6069.107262,11.023759,0.630353
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1930.000000,0.000000
25%,3.260000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42141.000000,1969.000000,1.000000
50%,6.150000e+02,3209.000000,40.721124,-74.043991,3209.000000,40.721124,-74.043845,42373.000000,1984.000000,1.000000
75%,1.416000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,43543.000000,1990.000000,2.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4071.000000,40.848282,0.000000,49734.000000,2004.000000,2.000000

In [6]:
# Save final df to csv file
final_df.to_csv("data/bikedata_2020.csv", index=False)